.sidebar{
     width: 22%;
     background-color: green;
     height: 100%;
     position: fixed;
     overflow: auto;
     padding: 5px;


}
.category{
    /* margin: 20%;
    left:-23%;
    position: relative;
    color: black;
    justify-content: left;
    align-items: left;
    display: flex; */
}