.sidebar{
    width: 20%;
    position: absolute;
    left: 0;
    box-shadow:red;
    /* top: 5%; */
    /* display: flex; */
    height:94.9%;
    background-color: red;
    margin: 0;
    z-index: -1;



    
}
.category{
    margin: 20%;
    left:-10%;
    position: relative;
    

}