.cardsforproductrow{
    display: flex;
    flex-wrap: wrap;
    /* padding: 0 4px; */
    position: absolute;
    left: 20%;
    top: 10%;
    margin: 0;

}



.productss{
    vertical-align:inherit;
    width: 300px;
    /* box-shadow: 1px 2px #cccccc; */
    margin: 10px 40px 40px 40px;
    background-color: #f4f4f4;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    
}