.toolbar{
    width: 100%;
    margin: 0;
    height: 50px;
    z-index: 1000;
    background-color: rgb(224, 195, 26);
    align-items: center;
    justify-content: center;
    position: relative;
    display: flex;
}
.navigation{
    margin : 0px 40px ;
    color: white;
}
.Logo{
    margin:  0 ;
    width: 60px;
    height: 50px;
}
.cart{
    position: relative;
    left: 20%;
    width: 60px;
    height: 50px;
    z-index: 0;
}

